@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins' , sans-serif;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo
{
	position: relative;
	max-width: 80px;
}

header ul {
	position: relative;
	display: flex;
}
header ul li {
	list-style: none;
}

header ul li a {
	display: inline-block;
	color: #333;
	font-weight: 40px;
	margin-left: 40px;
	text-decoration: none;
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textbox {
	position: relative;
	max-width: 600px;
}
.content .textbox h2 
{
	color: #333;
	font-size: 4em;
	line-height: 1.4em;
	font-weight: 500;
}
.content .textbox h2 span {
	color: #017143;
	font-size: 1.2em;
	font-weight: 900;
}
.content .textbox p {
	color: #333;
}

.content .textbox a {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #017143;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
} 

.content .imgbox {
	width: 800px;
	display: flex;
	
}

.content .imgbox .img {
	max-width: 340px;
}
.thumb {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
}
.thumb li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb li:hover {
	transform: translateY(-15px);
}
.thumb li img {
	max-width: 60px;
	
}
.circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #017143;
	clip-path: circle(600px at right 800px);
}


































.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Credit to https://bootsnipp.com/snippets/bxDBA */