<!DOCTYPE html>
<html lang="en" >
 <head>
  {% load static %}
  <meta charset = "UTF-8">
  <title> Donnation website page</title>
 <link rel="stylesheet" href="{% static 'style.css' %}">
 </head> 
 <body>
  <section>
    <div class="circle"></div>
    <header>
      <a href="#" ><img src="{% static 'images/do1.png' %}" class="logo"></a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'Login' %}">Login</a></li>
        <li><a href="{% url 'Register' %}">Register</a></li>
      </ul>
    </header>
    <div class="content">
      <div class="textbox">
        <h2>for better life<br>Be<span> influential</span></h2>
        <p>A donation is a gift for charity, humanitarian aid, or to benefit a cause.<br>
           A donation may take various forms, including money, alms, services, <br>
           or goods such as clothing, toys, food, or vehicles.</p>
           <br>
         <a href="#">learn more</a>
      </div>
      <div class="imgbox">
        <img src="{% static 'images/do3.jpg' %}" class="donation">
      </div>
    </div>
    <ul class="thumb">
      <li><img src="{% static 'images/do4.jpeg' %}" ></li>
      <li><img src="{% static 'images/do5.jpeg' %}" ></li>
      <li><img src="{% static 'images/do6.jpeg' %}"></li>
    </ul>
  </section>
  <script type="text/javascript">
    function imgSlider(anything){
      document.querySelector('.donation').src=anything;
    }
  </script>
 </body>
</html>